@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Poiret+One);


body {
    background-color: pink; /*#f06b92;*/
    font-family: 'Poiret One', Segoe UI Light, cursive;
    color: antiquewhite;
}

/* The box containing the message */
#card #message {
    float: left;
    width: 400px;
    height: 400px;
    margin-left: 400px;
    background-color: #333;
    border-radius: 45% 0 45% 0;
    text-align: center;
}
/* message on the card */
#card #message h2 {
    font-size: 20px;
    color: #fff;
    width: 160px;
    margin-top: 180px;
    margin-left: 120px;
}

#card .heart #circle {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #d32f2f;
    margin-top: -20px;
}
#card .heart #rec {
    margin-top: -60px;
    width: 250px;
    height: 250px;
    background-color: #d32f2f;
    border-radius: 35% 0 0 0;

}

#card .heart #half2 {
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    margin-top: -430px;
    margin-left: -200px;
    border: 5px solid blue;
}



















