.heart {
    background-color: red;
    display: inline-block;
    height: 200px;
    margin: 0 10px;
    position: relative;
    top: 0;
    /* transform: rotate(-45deg); */
    width: 200px;
    margin-top: 200px;
    margin-left:500px;
    /* transform: rotate(0deg); */
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 200px;
    position: absolute;
    width: 200px;
  }
  
  .heart:before {
    top: -110px;
    left: 0;
  }
  
  .heart:after {
    left: 110px;
    top: 0;
  }

  #message{

    height: 400px;
    width: 400px;
    margin-top: 200px;
    margin-left:500px;
    background-color: #333;
    color: white;
    font-size:20px;
    text-align: center;

  }

