@import url(https://fonts.googleapis.com/css?family=Poiret+One);


body {
    background-color: white;
    font-family: 'Poiret One', Segoe UI Light, cursive;


}

.heart {
    background-color: #d32f2f;
    display: inline-block;
    height: 300px;
    margin: 0 10px;
    position: relative;

    top: 0;
    /*changed SOverflow*/
    /* transform: rotate(-45deg); */
    width: 300px;
    margin-top: 200px;
    margin-left: 500px;
    /* transform: rotate(0deg); */
}

.heart:before,
.heart:after {
    content: "";
    background-color: #d32f2f;
    border-radius: 50%;
    height: 300px;
    position: absolute;
    width: 300px;
}

.heart:before {
    top: -140px;
    left: 0;
}

.heart:after {
    left: 140px;
    top: 0;
}


#card {
    margin-top: 200px;

}

#message {

    height: 400px;
    width: 400px;
    margin-top: -410px;
    margin-left: 500px;
    background-color: #333;
    color: white;
    border: 3px dashed #AB47BC;
    border-radius: 35% 0 35% 0;

}

#card #heart1 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation: closeLeft 2s ease-in-out forwards;
    -moz-animation: closeLeft 2s ease-in-out forwards;
    -ms-animation: closeLeft 2s ease-in-out forwards;
    animation: closeLeft 2s ease-in-out forwards;
    transform-origin: 0 0;
}


#card:hover #heart1 {
    -webkit-animation: openLeft 2s ease-in-out forwards;
    -moz-animation: openLeft 2s ease-in-out forwards;
    -ms-animation: openLeft 2 ease-in-out forwards;
    animation: openLeft 2s ease-in-out forwards;
}

@-webkit-keyframes closeLeft {
    from {
        -webkit-transform: rotateY(0deg);
    }

    to {
        -webkit-transform: rotateY(180deg);
    }
}

@-moz-keyframes closeLeft {
    from {
        -moz-transform: rotateY(0deg);
    }

    to {
        -moz-transform: rotateY(180deg);
    }
}

@-ms-keyframes closeLeft {
    from {
        -ms-transform: rotateY(0deg);
    }

    to {
        -ms-transform: rotateY(180deg);
    }
}

@keyframes closeLeft {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}

@-moz-keyframes openLeft {
    from {
        -moz-transform: rotateY(180deg);
    }

    to {
        -moz-transform: rotateY(0deg);
    }
}

@-webkit-keyframes openLeft {
    from {
        -webkit-transform: rotateY(180deg);
    }

    to {
        -webkit-transform: rotateY(0deg);
    }
}

@-ms-keyframes openLeft {
    from {
        -ms-transform: rotateY(180deg);
    }

    to {
        -ms-transform: rotateY(0deg);
    }
}

@keyframes openLeft {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}